/Lecture2/nbproject/private/
/Lecture2/build/
/Homework1/nbproject/private/
/Homework1/build/
/Lecture8/nbproject/private/
/Homework2/nbproject/private/
/Homework2/build/
/Lecture8/build/
/Lecture8/dist/